html{
 background-color: rgb(218, 102, 146);
}
.main{
  width: 65%;
}
.head{
  margin: 4%;
  background-color: aliceblue;
}
button{
  font-size: larger;
  background-color: rgb(228, 101, 17);
  color: aliceblue;
  border-radius: 15px;
}
a{
  text-decoration: none;
  color: black;
}

div{
  background-color: aliceblue;
  margin: 5%;
}
h2{
  text-align: right;
padding: 1%;
}
.aa{
  background-color: rgb(192, 247, 247);
  display: flex;
}
.leg{
  width: 30              %;
  margin: 4%;
  padding: 5%;
}
.side{
  background-color:  rgb(218, 102, 146);
  width: 30%;
  padding: 2%;
}
section{
  display: flex;
}

.alpha1{
  background-color: aliceblue;
  margin: 0%;
 
}
.alpha2{
  background-color: aliceblue;
margin: 0%;
}
.alpha3{
  color: aliceblue;
  font-size: 60px;
}
.alpha4{
  color: aliceblue;
  font-size: 40px;
 
}
.alpha5{
  font-size: 25px;
 width: 50%;
 height: 50%;
margin: 0%;
padding: 10%;
}
.alpha6{
  width: 50%;
  margin: 0%;
padding: 0%;
}

.alpha7{
  display: flex;
justify-content: space-around;
}
img{
  width: 100%;
}
